<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main>
        <div class="card-details">
            <img id="image-details" src="<%= home.photo %>" alt="<%= home.name %>">
            <div id="details-details">
                <div id="d1-details">
                    <h1 class="name">Name:
                    </h1>
                    <h2 class="price">Price:
                    </h2>
                    <p class="location">Location:
                    </p>
                    <p class="rating">Rating:
                    </p>
                    <p class="description">Description:
                    </p>
                </div>
                <div id="d2-details">
                    <h1 class="name">
                        <%= home.name %>
                    </h1>
                    <h2 class="price">
                        <%= home.price %>
                    </h2>
                    <p class="location">
                        <%= home.location %>
                    </p>
                    <p class="rating">🌟 <%= home.rating %>
                    </p>
                    <p class="description"><%= home.description %>
                    </p>
                </div>
                <div class="btn-div-details">
                    <%- include('../partials/fav.ejs') %>
                    <a href="/client/booking" id="book-btn" class="btn">Book</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>